In [4]:
pip install scipy

Collecting scipy
  Obtaining dependency information for scipy from https://files.pythonhosted.org/packages/06/15/e73734f9170b66c6a84a0bd7e03586e87e77404e2eb8e34749fc49fa43f7/scipy-1.11.2-cp311-cp311-win_amd64.whl.metadata
  Downloading scipy-1.11.2-cp311-cp311-win_amd64.whl.metadata (59 kB)
     ---------------------------------------- 0.0/59.1 kB ? eta -:--:--
     ------ --------------------------------- 10.2/59.1 kB ? eta -:--:--
     ------------------- ------------------ 30.7/59.1 kB 262.6 kB/s eta 0:00:01
     -------------------------------------- 59.1/59.1 kB 390.9 kB/s eta 0:00:00
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\saite\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scipy) (1.25.2)
Downloading scipy-1.11.2-cp311-cp311-win_amd64.whl (44.0 MB)
   ---------------------------------------- 0.0/44.0 MB ? eta -:--:--
   ---------------------------------------- 0.1/44.0 MB 1.7 MB/s eta 0:00:27
   ---------------------------------------- 0.1/44.0 MB 1.8 MB/s eta 0:00:25
   ---------------------------------------- 0.3/44.0 MB 2.1 MB/s eta 0:00:21
   ---------------------------------------- 0.5/44.0 MB 3.0 MB/s eta 0:00:15
    --------------------------------------- 0.8/44.0 MB 3.7 MB/s eta 0:00:12
   - -------------------------------------- 1.2/44.0 MB 4.3 MB/s eta 0:00:10
   - -------------------------------------- 1.4/44.0 MB 4.5 MB/s eta 0:00:10
   - -------------------------------------- 1.7/44.0 MB 5.0 MB/s eta 0:00:09
   - -------------------------------------- 2.1/44.0 MB 5.3 MB/s eta 0:00:08
   -- ------------------------------------- 2.4/44.0 MB 5.3 MB/s eta 0:00:08
   -- ------------------------------------- 2.7/44.0 MB 5.5 MB/s eta 0:00:08
   -- ------------------------------------- 2.8/44.0 MB 5.2 MB/s eta 0:00:08
   -- ------------------------------------- 3.0/44.0 MB 5.1 MB/s eta 0:00:09
   -- ------------------------------------- 3.2/44.0 MB 5.0 MB/s eta 0:00:09
   --- ------------------------------------ 3.3/44.0 MB 4.9 MB/s eta 0:00:09
   --- ------------------------------------ 3.6/44.0 MB 4.8 MB/s eta 0:00:09
   --- ------------------------------------ 3.9/44.0 MB 5.0 MB/s eta 0:00:08
   --- ------------------------------------ 4.1/44.0 MB 5.0 MB/s eta 0:00:08
   ---- ----------------------------------- 4.8/44.0 MB 5.6 MB/s eta 0:00:08
   ---- ----------------------------------- 5.2/44.0 MB 5.7 MB/s eta 0:00:07
   ---- ----------------------------------- 5.3/44.0 MB 5.5 MB/s eta 0:00:08
   ----- ---------------------------------- 5.9/44.0 MB 6.0 MB/s eta 0:00:07
   ----- ---------------------------------- 6.2/44.0 MB 5.9 MB/s eta 0:00:07
   ----- ---------------------------------- 6.2/44.0 MB 5.7 MB/s eta 0:00:07
   ------ --------------------------------- 6.7/44.0 MB 5.9 MB/s eta 0:00:07
   ------ --------------------------------- 7.0/44.0 MB 5.8 MB/s eta 0:00:07
   ------ --------------------------------- 7.4/44.0 MB 6.0 MB/s eta 0:00:07
   ------ --------------------------------- 7.7/44.0 MB 6.0 MB/s eta 0:00:07
   ------ --------------------------------- 7.7/44.0 MB 6.0 MB/s eta 0:00:07
   ------ --------------------------------- 7.7/44.0 MB 6.0 MB/s eta 0:00:07
   ------- -------------------------------- 8.1/44.0 MB 5.7 MB/s eta 0:00:07
   ------- -------------------------------- 8.2/44.0 MB 5.5 MB/s eta 0:00:07
   ------- -------------------------------- 8.3/44.0 MB 5.5 MB/s eta 0:00:07
   ------- -------------------------------- 8.7/44.0 MB 5.6 MB/s eta 0:00:07
   -------- ------------------------------- 8.9/44.0 MB 5.5 MB/s eta 0:00:07
   -------- ------------------------------- 9.1/44.0 MB 5.5 MB/s eta 0:00:07
   -------- ------------------------------- 9.4/44.0 MB 5.5 MB/s eta 0:00:07
   -------- ------------------------------- 9.6/44.0 MB 5.5 MB/s eta 0:00:07
   --------- ------------------------------ 10.1/44.0 MB 5.6 MB/s eta 0:00:07
   --------- ------------------------------ 10.4/44.0 MB 5.8 MB/s eta 0:00:06
   --------- ------------------------------ 10.5/44.0 MB 5.8 MB/s eta 0:00:06
   ---------- ----------------------------- 11.1/44.0 MB 6.0 MB/s eta 0:00:06
   ---------- ----------------------------- 11.1/44.0 MB 5.8 MB/s eta 0:00:06
   ---------- ----------------------------- 11.4/44.0 MB 5.8 MB/s eta 0:00:06
   ---------- ----------------------------- 11.5/44.0 MB 5.8 MB/s eta 0:00:06
   ---------- ----------------------------- 11.5/44.0 MB 5.8 MB/s eta 0:00:06
   ----------- ---------------------------- 12.2/44.0 MB 5.7 MB/s eta 0:00:06
   ----------- ---------------------------- 12.4/44.0 MB 5.8 MB/s eta 0:00:06
   ----------- ---------------------------- 12.7/44.0 MB 5.6 MB/s eta 0:00:06
   ----------- ---------------------------- 12.9/44.0 MB 5.7 MB/s eta 0:00:06
   ----------- ---------------------------- 12.9/44.0 MB 5.7 MB/s eta 0:00:06
   ----------- ---------------------------- 12.9/44.0 MB 5.7 MB/s eta 0:00:06
   ----------- ---------------------------- 12.9/44.0 MB 5.7 MB/s eta 0:00:06
   ----------- ---------------------------- 12.9/44.0 MB 5.2 MB/s eta 0:00:07
   ----------- ---------------------------- 13.1/44.0 MB 5.3 MB/s eta 0:00:06
   ------------ --------------------------- 13.3/44.0 MB 5.2 MB/s eta 0:00:06
   ------------ --------------------------- 13.5/44.0 MB 5.2 MB/s eta 0:00:06
   ------------ --------------------------- 13.7/44.0 MB 5.2 MB/s eta 0:00:06
   ------------ --------------------------- 14.0/44.0 MB 5.2 MB/s eta 0:00:06
   ------------ --------------------------- 14.0/44.0 MB 5.1 MB/s eta 0:00:06
   ------------ --------------------------- 14.2/44.0 MB 5.0 MB/s eta 0:00:06
   ------------- -------------------------- 14.3/44.0 MB 4.9 MB/s eta 0:00:07
   ------------- -------------------------- 14.6/44.0 MB 4.9 MB/s eta 0:00:06
   ------------- -------------------------- 14.6/44.0 MB 4.8 MB/s eta 0:00:07
   ------------- -------------------------- 14.8/44.0 MB 4.7 MB/s eta 0:00:07
   ------------- -------------------------- 15.1/44.0 MB 4.7 MB/s eta 0:00:07
   ------------- -------------------------- 15.1/44.0 MB 4.6 MB/s eta 0:00:07
   ------------- -------------------------- 15.2/44.0 MB 4.6 MB/s eta 0:00:07
   -------------- ------------------------- 15.5/44.0 MB 4.6 MB/s eta 0:00:07
   -------------- ------------------------- 15.6/44.0 MB 4.5 MB/s eta 0:00:07
   -------------- ------------------------- 15.7/44.0 MB 4.4 MB/s eta 0:00:07
   -------------- ------------------------- 15.9/44.0 MB 4.3 MB/s eta 0:00:07
   -------------- ------------------------- 16.1/44.0 MB 4.2 MB/s eta 0:00:07
   -------------- ------------------------- 16.2/44.0 MB 4.3 MB/s eta 0:00:07
   -------------- ------------------------- 16.4/44.0 MB 4.2 MB/s eta 0:00:07
   --------------- ------------------------ 16.5/44.0 MB 4.2 MB/s eta 0:00:07
   --------------- ------------------------ 16.7/44.0 MB 4.2 MB/s eta 0:00:07
   --------------- ------------------------ 16.8/44.0 MB 4.1 MB/s eta 0:00:07
   --------------- ------------------------ 16.9/44.0 MB 4.1 MB/s eta 0:00:07
   --------------- ------------------------ 17.0/44.0 MB 4.0 MB/s eta 0:00:07
   --------------- ------------------------ 17.0/44.0 MB 4.0 MB/s eta 0:00:07
   --------------- ------------------------ 17.1/44.0 MB 3.9 MB/s eta 0:00:07
   --------------- ------------------------ 17.2/44.0 MB 3.9 MB/s eta 0:00:07
   --------------- ------------------------ 17.4/44.0 MB 3.8 MB/s eta 0:00:07
   --------------- ------------------------ 17.6/44.0 MB 3.7 MB/s eta 0:00:08
   ---------------- ----------------------- 17.7/44.0 MB 3.7 MB/s eta 0:00:08
   ---------------- ----------------------- 17.9/44.0 MB 3.7 MB/s eta 0:00:08
   ---------------- ----------------------- 17.9/44.0 MB 3.8 MB/s eta 0:00:07
   ---------------- ----------------------- 18.1/44.0 MB 3.8 MB/s eta 0:00:07
   ---------------- ----------------------- 18.2/44.0 MB 3.7 MB/s eta 0:00:07
   ---------------- ----------------------- 18.4/44.0 MB 3.7 MB/s eta 0:00:07
   ---------------- ----------------------- 18.6/44.0 MB 3.7 MB/s eta 0:00:07
   ---------------- ----------------------- 18.7/44.0 MB 3.7 MB/s eta 0:00:07
   ----------------- ---------------------- 18.9/44.0 MB 3.7 MB/s eta 0:00:07
   ----------------- ---------------------- 19.0/44.0 MB 3.6 MB/s eta 0:00:07
   ----------------- ---------------------- 19.2/44.0 MB 3.6 MB/s eta 0:00:07
   ----------------- ---------------------- 19.4/44.0 MB 3.6 MB/s eta 0:00:07
   ----------------- ---------------------- 19.5/44.0 MB 3.5 MB/s eta 0:00:07
   ----------------- ---------------------- 19.6/44.0 MB 3.6 MB/s eta 0:00:07
   ------------------ --------------------- 19.8/44.0 MB 3.5 MB/s eta 0:00:07
   ------------------ --------------------- 19.9/44.0 MB 3.5 MB/s eta 0:00:07
   ------------------ --------------------- 20.1/44.0 MB 3.4 MB/s eta 0:00:07
   ------------------ --------------------- 20.2/44.0 MB 3.4 MB/s eta 0:00:07
   ------------------ --------------------- 20.4/44.0 MB 3.4 MB/s eta 0:00:07
   ------------------ --------------------- 20.4/44.0 MB 3.4 MB/s eta 0:00:07
   ------------------ --------------------- 20.4/44.0 MB 3.3 MB/s eta 0:00:08
   ------------------ --------------------- 20.7/44.0 MB 3.3 MB/s eta 0:00:08
   ------------------ --------------------- 20.7/44.0 MB 3.2 MB/s eta 0:00:08
   ------------------ --------------------- 20.8/44.0 MB 3.3 MB/s eta 0:00:08
   ------------------- -------------------- 21.0/44.0 MB 3.2 MB/s eta 0:00:08
   ------------------- -------------------- 21.0/44.0 MB 3.2 MB/s eta 0:00:08
   ------------------- -------------------- 21.1/44.0 MB 3.1 MB/s eta 0:00:08
   ------------------- -------------------- 21.2/44.0 MB 3.1 MB/s eta 0:00:08
   ------------------- -------------------- 21.3/44.0 MB 3.1 MB/s eta 0:00:08
   ------------------- -------------------- 21.5/44.0 MB 3.1 MB/s eta 0:00:08
   ------------------- -------------------- 21.7/44.0 MB 3.0 MB/s eta 0:00:08
   ------------------- -------------------- 21.8/44.0 MB 3.1 MB/s eta 0:00:08
   ------------------- -------------------- 21.9/44.0 MB 3.1 MB/s eta 0:00:08
   -------------------- ------------------- 22.1/44.0 MB 3.0 MB/s eta 0:00:08
   -------------------- ------------------- 22.1/44.0 MB 3.0 MB/s eta 0:00:08
   -------------------- ------------------- 22.2/44.0 MB 2.9 MB/s eta 0:00:08
   -------------------- ------------------- 22.3/44.0 MB 2.9 MB/s eta 0:00:08
   -------------------- ------------------- 22.5/44.0 MB 2.9 MB/s eta 0:00:08
   -------------------- ------------------- 22.5/44.0 MB 2.9 MB/s eta 0:00:08
   -------------------- ------------------- 22.7/44.0 MB 2.9 MB/s eta 0:00:08
   -------------------- ------------------- 22.9/44.0 MB 2.8 MB/s eta 0:00:08
   -------------------- ------------------- 23.0/44.0 MB 2.8 MB/s eta 0:00:08
   --------------------- ------------------ 23.1/44.0 MB 2.8 MB/s eta 0:00:08
   --------------------- ------------------ 23.3/44.0 MB 2.9 MB/s eta 0:00:08
   --------------------- ------------------ 23.4/44.0 MB 2.9 MB/s eta 0:00:08
   --------------------- ------------------ 23.5/44.0 MB 2.9 MB/s eta 0:00:08
   --------------------- ------------------ 23.7/44.0 MB 2.9 MB/s eta 0:00:07
   --------------------- ------------------ 23.8/44.0 MB 2.9 MB/s eta 0:00:07
   --------------------- ------------------ 24.0/44.0 MB 2.9 MB/s eta 0:00:07
   --------------------- ------------------ 24.1/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 24.3/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 24.4/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 24.6/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 24.8/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 24.9/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 25.1/44.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 25.3/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 25.4/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 25.6/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 25.7/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 25.9/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 26.0/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 26.2/44.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 26.4/44.0 MB 2.9 MB/s eta 0:00:07
   ------------------------ --------------- 26.5/44.0 MB 2.9 MB/s eta 0:00:07
   ------------------------ --------------- 26.6/44.0 MB 2.9 MB/s eta 0:00:06
   ------------------------ --------------- 26.7/44.0 MB 2.9 MB/s eta 0:00:06
   ------------------------ --------------- 26.9/44.0 MB 2.9 MB/s eta 0:00:06
   ------------------------ --------------- 27.0/44.0 MB 2.9 MB/s eta 0:00:06
   ------------------------ --------------- 27.2/44.0 MB 2.9 MB/s eta 0:00:06
   ------------------------ --------------- 27.3/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 27.5/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 27.7/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 27.8/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 28.0/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 28.2/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 28.2/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 28.4/44.0 MB 3.0 MB/s eta 0:00:06
   ------------------------- -------------- 28.5/44.0 MB 3.0 MB/s eta 0:00:06
   -------------------------- ------------- 28.7/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 28.7/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 28.8/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 28.8/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 29.1/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 29.2/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 29.4/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 29.4/44.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 29.6/44.0 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 29.8/44.0 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 30.0/44.0 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 30.0/44.0 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 30.2/44.0 MB 2.8 MB/s eta 0:00:05
   --------------------------- ------------ 30.2/44.0 MB 2.8 MB/s eta 0:00:05
   --------------------------- ------------ 30.4/44.0 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 30.6/44.0 MB 3.0 MB/s eta 0:00:05
   ---------------------------- ----------- 30.8/44.0 MB 2.9 MB/s eta 0:00:05
   ---------------------------- ----------- 30.9/44.0 MB 2.9 MB/s eta 0:00:05
   ---------------------------- ----------- 31.1/44.0 MB 2.9 MB/s eta 0:00:05
   ---------------------------- ----------- 31.3/44.0 MB 3.0 MB/s eta 0:00:05
   ---------------------------- ----------- 31.3/44.0 MB 3.0 MB/s eta 0:00:05
   ---------------------------- ----------- 31.5/44.0 MB 3.0 MB/s eta 0:00:05
   ---------------------------- ----------- 31.7/44.0 MB 3.0 MB/s eta 0:00:05
   ----------------------------- ---------- 31.9/44.0 MB 3.0 MB/s eta 0:00:05
   ----------------------------- ---------- 31.9/44.0 MB 3.0 MB/s eta 0:00:05
   ----------------------------- ---------- 32.1/44.0 MB 3.0 MB/s eta 0:00:04
   ----------------------------- ---------- 32.2/44.0 MB 3.0 MB/s eta 0:00:04
   ----------------------------- ---------- 32.4/44.0 MB 3.0 MB/s eta 0:00:04
   ----------------------------- ---------- 32.5/44.0 MB 3.0 MB/s eta 0:00:04
   ----------------------------- ---------- 32.8/44.0 MB 3.1 MB/s eta 0:00:04
   ----------------------------- ---------- 32.9/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 33.0/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 33.3/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 33.4/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 33.6/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 33.8/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 33.9/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 34.0/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------- -------- 34.2/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------- -------- 34.4/44.0 MB 3.2 MB/s eta 0:00:04
   ------------------------------- -------- 34.4/44.0 MB 3.1 MB/s eta 0:00:04
   ------------------------------- -------- 34.6/44.0 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 34.8/44.0 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 34.8/44.0 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 34.8/44.0 MB 3.0 MB/s eta 0:00:04
   ------------------------------- -------- 34.9/44.0 MB 3.0 MB/s eta 0:00:03
   ------------------------------- -------- 35.1/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 35.3/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 35.3/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 35.5/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 35.7/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 35.7/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 35.9/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 36.0/44.0 MB 3.0 MB/s eta 0:00:03
   -------------------------------- ------- 36.2/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 36.3/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 36.5/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 36.6/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 36.7/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 36.8/44.0 MB 2.9 MB/s eta 0:00:03
   --------------------------------- ------ 36.9/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 37.1/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 37.2/44.0 MB 3.0 MB/s eta 0:00:03
   --------------------------------- ------ 37.3/44.0 MB 2.9 MB/s eta 0:00:03
   ---------------------------------- ----- 37.4/44.0 MB 2.9 MB/s eta 0:00:03
   ---------------------------------- ----- 37.6/44.0 MB 3.0 MB/s eta 0:00:03
   ---------------------------------- ----- 37.8/44.0 MB 3.0 MB/s eta 0:00:03
   ---------------------------------- ----- 37.9/44.0 MB 2.9 MB/s eta 0:00:03
   ---------------------------------- ----- 38.1/44.0 MB 3.0 MB/s eta 0:00:02
   ---------------------------------- ----- 38.2/44.0 MB 2.9 MB/s eta 0:00:02
   ---------------------------------- ----- 38.4/44.0 MB 3.0 MB/s eta 0:00:02
   ----------------------------------- ---- 38.5/44.0 MB 2.9 MB/s eta 0:00:02
   ----------------------------------- ---- 38.7/44.0 MB 3.0 MB/s eta 0:00:02
   ----------------------------------- ---- 38.9/44.0 MB 3.0 MB/s eta 0:00:02
   ----------------------------------- ---- 39.1/44.0 MB 3.0 MB/s eta 0:00:02
   ----------------------------------- ---- 39.2/44.0 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 39.3/44.0 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 39.5/44.0 MB 3.1 MB/s eta 0:00:02
   ------------------------------------ --- 39.7/44.0 MB 3.1 MB/s eta 0:00:02
   ------------------------------------ --- 39.8/44.0 MB 3.1 MB/s eta 0:00:02

In [5]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [6]:
dict_table = pickle.load(open('dict_table','rb'))
df_historical_data = pd.read_csv('clean_fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('clean_fifa_worldcup_fixture.csv')

In [7]:
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength

              GoalsScored  GoalsConceded
Team
Algeria          0.863636       1.409091
Angola           0.333333       0.666667
Argentina        1.741379       1.068966
Australia        0.840000       1.880000
Austria          1.348837       1.511628
...                   ...            ...
Uruguay          1.408451       1.309859
Wales            0.800000       0.800000
West Germany     2.035294       1.141176
Yugoslavia       1.642857       1.214286
Zaire            0.000000       4.666667

[85 rows x 2 columns]

In [8]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0, 0)

In [9]:
print(predict_points('England', 'United States'))
print(predict_points('Argentina', 'Mexico'))
print(predict_points('Qatar (H)', 'Ecuador')) # Qatar vs Team X -> 0 points to both

(2.24003239704936, 0.5755072718935664)
(2.2397992412507435, 0.598823312417191)
(0, 0)

In [10]:
df_fixture_group_48 = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [12]:
df_fixture_group_48

             home score           away  year
0           Qatar   0–2        Ecuador  2022
1         Senegal   0–2    Netherlands  2022
2           Qatar   1–3        Senegal  2022
3     Netherlands   1–1        Ecuador  2022
4         Ecuador   1–2        Senegal  2022
5     Netherlands   2–0          Qatar  2022
6         England   6–2           Iran  2022
7   United States   1–1          Wales  2022
8           Wales   0–2           Iran  2022
9         England   0–0  United States  2022
10          Wales   0–3        England  2022
11           Iran   0–1  United States  2022
12      Argentina   1–2   Saudi Arabia  2022
13         Mexico   0–0         Poland  2022
14         Poland   2–0   Saudi Arabia  2022
15      Argentina   2–0         Mexico  2022
16         Poland   0–2      Argentina  2022
17   Saudi Arabia   1–2         Mexico  2022
18        Denmark   0–0        Tunisia  2022
19         France   4–1      Australia  2022
20        Tunisia   0–1      Australia  2022
21         France   2–1        Denmark  2022
22      Australia   1–0        Denmark  2022
23        Tunisia   1–0         France  2022
24        Germany   1–2          Japan  2022
25          Spain   7–0     Costa Rica  2022
26          Japan   0–1     Costa Rica  2022
27          Spain   1–1        Germany  2022
28          Japan   2–1          Spain  2022
29     Costa Rica   2–4        Germany  2022
30        Morocco   0–0        Croatia  2022
31        Belgium   1–0         Canada  2022
32        Belgium   0–2        Morocco  2022
33        Croatia   4–1         Canada  2022
34        Croatia   0–0        Belgium  2022
35         Canada   1–2        Morocco  2022
36    Switzerland   1–0       Cameroon  2022
37         Brazil   2–0         Serbia  2022
38       Cameroon   3–3         Serbia  2022
39         Brazil   1–0    Switzerland  2022
40         Serbia   2–3    Switzerland  2022
41       Cameroon   1–0         Brazil  2022
42        Uruguay   0–0    South Korea  2022
43       Portugal   3–2          Ghana  2022
44    South Korea   2–3          Ghana  2022
45       Portugal   2–0        Uruguay  2022
46          Ghana   0–2        Uruguay  2022
47    South Korea   2–1       Portugal  2022

In [15]:
for group in dict_table:
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away

    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

In [16]:
dict_table['Group A']

          Team   Pts
0  Netherlands  15.0
1      Senegal  10.0
2      Ecuador   8.0
3    Qatar (H)   0.0

In [17]:
df_fixture_knockout

           home         score           away  year
48  Netherlands           3–1  United States  2022
49    Argentina           2–1      Australia  2022
50       France           3–1         Poland  2022
51      England           3–0        Senegal  2022
52        Japan  1–1 (a.e.t.)        Croatia  2022
53       Brazil           4–1    South Korea  2022
54      Morocco  0–0 (a.e.t.)          Spain  2022
55     Portugal           6–1    Switzerland  2022

In [18]:
for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    df_fixture_knockout.replace({f'Winners {group}':group_winner,
                                 f'Runners-up {group}':runners_up}, inplace=True)

df_fixture_knockout['winner'] = '?'
df_fixture_knockout

           home         score           away  year winner
48  Netherlands           3–1  United States  2022      ?
49    Argentina           2–1      Australia  2022      ?
50       France           3–1         Poland  2022      ?
51      England           3–0        Senegal  2022      ?
52        Japan  1–1 (a.e.t.)        Croatia  2022      ?
53       Brazil           4–1    South Korea  2022      ?
54      Morocco  0–0 (a.e.t.)          Spain  2022      ?
55     Portugal           6–1    Switzerland  2022      ?

In [19]:
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [20]:
get_winner(df_fixture_knockout)

           home         score           away  year       winner
48  Netherlands           3–1  United States  2022  Netherlands
49    Argentina           2–1      Australia  2022    Argentina
50       France           3–1         Poland  2022       France
51      England           3–0        Senegal  2022      England
52        Japan  1–1 (a.e.t.)        Croatia  2022      Croatia
53       Brazil           4–1    South Korea  2022       Brazil
54      Morocco  0–0 (a.e.t.)          Spain  2022        Spain
55     Portugal           6–1    Switzerland  2022     Portugal

In [21]:
def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winners {match}':winner}, inplace=True)
    df_fixture_round_2['winner'] = '?'
    return df_fixture_round_2

In [22]:
update_table(df_fixture_knockout, df_fixture_quarter)

           home         score       away  year winner
56      Croatia  1–1 (a.e.t.)     Brazil  2022      ?
57  Netherlands  2–2 (a.e.t.)  Argentina  2022      ?
58      Morocco           1–0   Portugal  2022      ?
59      England           1–2     France  2022      ?

In [23]:
get_winner(df_fixture_quarter)

           home         score       away  year       winner
56      Croatia  1–1 (a.e.t.)     Brazil  2022       Brazil
57  Netherlands  2–2 (a.e.t.)  Argentina  2022  Netherlands
58      Morocco           1–0   Portugal  2022     Portugal
59      England           1–2     France  2022      England

In [24]:
update_table(df_fixture_quarter, df_fixture_semi)

         home score     away  year winner
60  Argentina   3–0  Croatia  2022      ?
61     France   2–0  Morocco  2022      ?

In [25]:
get_winner(df_fixture_semi)

         home score     away  year     winner
60  Argentina   3–0  Croatia  2022  Argentina
61     France   2–0  Morocco  2022     France

In [26]:
update_table(df_fixture_semi, df_fixture_final)

         home         score     away  year winner
62    Croatia           2–1  Morocco  2022      ?
63  Argentina  3–3 (a.e.t.)   France  2022      ?

In [27]:
get_winner(df_fixture_final)

         home         score     away  year     winner
62    Croatia           2–1  Morocco  2022    Croatia
63  Argentina  3–3 (a.e.t.)   France  2022  Argentina